@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  font-style: normal;
}

.bodoni-moda-sc-md {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.playfair-display-md {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.edu-au-vic-wa-nt-hand-md {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dm-sans-md {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.hidding-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hidding-scrollbar::-webkit-scrollbar {
  display: none;
}
@keyframes shimmer {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite linear;
}

body ::-webkit-scrollbar {
  display: none;
}

/* .truncate-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
} */

.line-clamp-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis; /* This adds the "..." */
  
  /* Fallback for browsers not supporting -webkit-line-clamp */
  max-height: calc(1.5em * 5); /* Approximate height for 5 lines */
  line-height: 1.5em; /* Adjust based on your typography */
}

.slick-prev:before{
  color: #fcfcfc !important;
}

.slick-next:before{
  color: #ffffff !important;
}